In [5]:

thisset = {"apple", "banana", "cherry"}  # find whether an element is in a set

print( "apple" in thisset)

True

In [14]:

thisset = {"apple", "banana", "cherry", "peas"} # printing elements one by one in a set

print(thisset)

for x in thisset:
  print(x)

{'peas', 'banana', 'cherry', 'apple'}
peas
banana
cherry
apple

In [11]:
thisset = {"apple", "banana", "cherry"} # adding single element in a set

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [12]:

thisset = {"apple", "banana", "cherry"}  # adding element or merging sets
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'papaya', 'apple', 'pineapple', 'mango', 'cherry'}

In [15]:

thisset = {"apple", "banana", "cherry"} # removing elements from sets

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [16]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [17]:
# intersection of unions
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [18]:
# symentric in set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'google'}

In [21]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets to make a tuple

print(thistuple)

('apple', 'banana', 'cherry')

In [22]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [28]:

thistuple = (("apple", "banana", "cherry")) # adding elements into a tuple
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [29]:

tuple1 = ("a", "b" , "c") # joining two tuples
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [30]:
# Python3 code to demonstrate working of
# Construct Cartesian Product Tuple list
# using list comprehension
 
# initialize list and tuple
test_list = [1, 4, 6, 7]
test_tup = (1, 3)
 
# printing original list and tuple
print("The original list : " + str(test_list))
print("The original tuple : " + str(test_tup))

The original list : [1, 4, 6, 7]
The original tuple : (1, 3)

In [35]:
# Construct Cartesian Product Tuple list
# using list comprehension
res = [(a,b) for a in test_tup for b in test_list]

print(res)
# printing result
print("The Cartesian Product is : " + str(res))


# In[21]:

[(1, 1), (1, 4), (1, 6), (1, 7), (3, 1), (3, 4), (3, 6), (3, 7)]
The Cartesian Product is : [(1, 1), (1, 4), (1, 6), (1, 7), (3, 1), (3, 4), (3, 6), (3, 7)]

In [ ]:
import itertools # permutation
 
s = "ABCDEFGFHIJKL"

perm_set = itertools.permutations(s)
for val in perm_set:
    print(val)


# In[22]:

In [ ]:

x = {"apple", "banana", "cherry"}  # demostraing disjoint
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)